<h1>California Drought</h1>
<h2>How many gallons of water does California have in its reserves?</h2>

<div class="full-tank">
	<div id="wrapper">
    	<div class="water" style="height: 30%"></div>
    </div>
</div>

