

<h1>California Drought</h1>
<h2>How many gallons of water does California have in its reserves?</h2>

<div class="full-tank">
	<div id="wrapper">
    	<div id="water" style="height: 30%"></div>
    </div>
</div>

<script>
$(document).ready(function() {
	$('#water').ripples({
		resolution: 512,
		dropRadius: 20,
		perturbance: 0.04,
	});
});

// Automatic drops
	setInterval(function() {
		var $el = $('#water');
		var x = Math.random() * $el.outerWidth();
		var y = Math.random() * $el.outerHeight();
		var dropRadius = 100;
		var strength = 0.04 + Math.random() * 0.04;
		
		$el.ripples('drop', x, y, dropRadius, strength);
	}, 400);
</script>



