<div class="jumbotron">
	<div class="titles">
		<h1>California Drought</h1>
		<h3>How much water does California have in its reserves?</h3>
		</br>
		</br>
		<div id="counter"></div>
		<p>Acre Feet</p>
	</div>8
	<div id="water" style="height: 30%"></div>
</div>


<div class="full-tank">
	<div id="wrapper">

		<!-- IMPORTANT: WATER HEIGHT VALUE -->
    	
    </div>
</div>

<script>

// Water Technology
$(document).ready(function() {
	$('#water').ripples({
		resolution: 256,
		dropRadius: 10,
		perturbance: 0.04,
	});
});

// Automatic drips on Water
	setInterval(function() {
		var $el = $('#water');
		var x = Math.random() * $el.outerWidth();
		var y = Math.random() * $el.outerHeight();
		var dropRadius = 100;
		var strength = 0.04 + Math.random() * 0.04;
		
		$el.ripples('drop', x, y, dropRadius, strength);
	}, 400);

// Flip Counter Technology
	// Sets initial value
    var counter = -12026126;
    // Rate of tick by milliseconds
    var updateMsc = 250;

    var myCounter = new flipCounter('counter', {value:counter});

    function updateCounter() {
       myCounter.setValue(counter++);
    }

    setInterval(updateCounter, updateMsc);

</script>



