
<div class="titles">
	<h1>California Drought</h1>
	<h2>How many gallons of water does California have in its reserves?</h2>
</div>

<div id="counter">

</div>

<div class="full-tank">
	<div id="wrapper">
    	<div id="water" style="height: 30%"></div>
    </div>
</div>

<script>
// Water Technology
$(document).ready(function() {
	$('#water').ripples({
		resolution: 256,
		dropRadius: 10,
		perturbance: 0.04,
	});
});

// Automatic drips on Water
	setInterval(function() {
		var $el = $('#water');
		var x = Math.random() * $el.outerWidth();
		var y = Math.random() * $el.outerHeight();
		var dropRadius = 100;
		var strength = 0.04 + Math.random() * 0.04;
		
		$el.ripples('drop', x, y, dropRadius, strength);
	}, 400);

// Flip Counter Technology
    var counter = -12345678;

    var updateMsc = 100;
    var myCounter = new flipCounter('counter', {value:counter});

    function updateCounter() {
       myCounter.setValue(counter++);
    }

    setInterval(updateCounter, updateMsc);

</script>



